.container {
    height: 100%;
    max-width: 600px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

header {
    flex: 1;

    font-family: monospace;
    font-size: 5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 5;

    display: flex;

    .row {
        flex: 1;

        display: flex;
        flex-direction: column;

        &:nth-child(3n) {
            border-right: 5px solid black;
        }

        &:first-child {
            border-left: 5px solid black;
        }
    }

    .col {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        background: white;
        border: 1px solid black;

        font-family: monospace;
        font-size: 3em;

        &:nth-child(3n) {
            border-bottom: 5px solid #191919;
        }

        &:first-child {
            border-top: 5px solid #191919;
        }
    }

    .selected {
        background: #E0E0E0;
    }
}

footer {
    flex: 1;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 5em;

    cursor: pointer;

    &:active {
        color: #ffffff;
    }
}